<div class="content-header">
    <div class="headerTop">
        <div class="header-left">
            <span class="menu-header-text">Kanban Project Management Tool</span>
        </div>
        <div class="mobile-logo"><img src="./assets/img/LogoSmall.png"></div>
        <div class="header-right">
            <div class="header-profile-icon" id="currentUserinHeader" onclick="toggleLogOutMenu()">G</div>
        </div>
    </div>

    <div class="mobileHeader">
        <a href="./summary.html">Summary</a>
        <a href="./board.html">Board</a>
        <a href="./add_task.html">Add Task</a>
        <a href="./contacts.html">Contacts</a>
    </div>
</div>