<div class="navbar-mobile-bottom">
    <div class="navbar-mobile-content">
        <a href="./summary.html">
            <img src="./assets/img/summaryIcon.png" alt="SummaryIcon" class="mobileNavbarIcons">
            <span class="mobileSpan">Summary</span>
        </a>
    </div>
    <div class="navbar-mobile-content">
        <a href="./board.html">
            <img src="./assets/img/boardIcon.png" alt="SummaryIcon" class="mobileNavbarIcons">
            <span class="mobileSpan">Board</span>
        </a>
    </div>
    <div class="navbar-mobile-content">
        <a href="./add_task.html">
            <img src="./assets/img/addTaskIcon.png" alt="SummaryIcon" class="mobileNavbarIcons">
            <span class="mobileSpan">Add Task</span>
        </a>
    </div>
    <div class="navbar-mobile-content">
        <a href="./contacts.html">
            <img src="./assets/img/contactsIcon.png" alt="SummaryIcon" class="mobileNavbarIcons">
            <span class="mobileSpan">Contacts</span>
        </a>
    </div>
</div>