<div class="nav-left">
    <div class="nav-left-top">
        <div class="nlt-img">
            <img src="./assets/img/LogoSmallWhite.png">
        </div>
        <div class="nlt-links">
            <a class="nav-tab" href ="./summary.html">
                <img src="./assets/img/summaryIcon.png" alt="SummaryIcon" class="sidebarIcons">
                <span>Summary</span>
            </a>
            <a class="nav-tab" href ="./add_task.html">
                <img src="./assets/img/addTaskIcon.png" alt="SummaryIcon" class="sidebarIcons">
                <span>Add Task</span>
            </a>
            <a class="nav-tab" href ="./board.html">
                <img src="./assets/img/boardIcon.png" alt="SummaryIcon" class="sidebarIcons">
                <span>Board</span>
            </a>
            <a class="nav-tab" href ="./contacts.html">
                <img src="./assets/img/contactsIcon.png" alt="SummaryIcon" class="sidebarIcons">
                <span>Contacts</span>
            </a>
        </div>
    </div>
    <!-- <div class="nav-left-btm">
        <a class="sidebarLinksBtm" href="./legal/privacyPolicy.html">Privacy Policy</a>
        <a class="sidebarLinksBtm" href="./legal/legalNotice.html">Legal Notice</a>
    </div> -->
</div>